<div class="container">
  <div layout="column" layout-align="center center" style="min-height: 300px;" class="selectdemoValidations">
    <h2 class="login">Login</h2>
    <!-- <h4 class="alert" role="alert" ng-if="message != ''">{{message}}</h4> -->

      <form ng-submit="login()">
        <label for="username">Username:</label>
        <input type="text" ng-model="user.username"/>

        <label for="password">Password:</label>
        <input type="password" ng-model="user.password"/>

        <button type="submit">Log In</button>

        <a href="#register">Register</a>
      </form>

  </div>
</div>
